version: "3.9"

services:
  web:
    platform: linux/arm64
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
        python manage.py collectstatic --noinput --clear &&
        python manage.py makemigrations &&
        python manage.py migrate &&
        python manage.py create_default_user &&
        python manage.py create_default_class &&
        python manage.py runserver 0.0.0.0:8000
      "
    env_file:
      - .env
    environment:
      DB_NAME: yzuic114_stamindtask
      DB_USER: henry
      DB_PASSWORD: henry_yzuic
      DB_HOST: db
      DB_PORT: 5432
      PROCESS_ON_PRODUCTION: True
      OPENBLAS_CORETYPE: ARMV8
      OPENBLAS_NUM_THREADS: 1
      OMP_NUM_THREADS: 1
      NUMEXPR_MAX_THREADS: 1
    volumes:
      - static_volume:/app/static
      - media_volume:/app/files
    depends_on:
      - db

  db:
    platform: linux/arm64
    image: postgres:15
    environment:
      POSTGRES_DB: yzuic114_stamindtask
      POSTGRES_USER: henry
      POSTGRES_PASSWORD: henry_yzuic
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    platform: linux/arm64
    image: nginx:latest
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/files
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:
